body{

     background-color: rgb(202, 202, 202);
     background-size: cover;
     

}

.welcom{

     color: rgb(31, 31, 31);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inf{

     color: rgb(31, 31, 31);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.cat{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transition: transform 0.5s ease;
    transform: translateY(0);
    right: 80px;

}

.cat:hover{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.973);
    box-shadow: 0 25px 45px rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transform: translateY(-20px);
    right: 80px;

}

.catimg{

    width: 300px;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    display: block;
    margin: 1 auto;
}

.b1{
  
  width: 130px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #313131;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;

}

.b1:hover{
  
  width: 130px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #ebebeb;
  color: rgb(31, 31, 31);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  
}

.dog{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transition: transform 0.5s ease;
    transform: translateY(0);
    right: 500px;

}

.dog:hover{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.973);
    box-shadow: 0 25px 45px rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transform: translateY(-20px);
    right: 500px;
}

.dogimg{

    width: 300px;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    display: block;
    margin: 1 auto;

}

.rabbit{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transition: transform 0.5s ease;
    transform: translateY(0);
    right: 920px;

}

.rabbit:hover{

    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.973);
    box-shadow: 0 25px 45px rgb(255, 255, 255);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    transform: translateY(-20px);
    right: 920px;

}

.rabbitimg{

    width: 300px;
    height: auto;
    border-radius: 12px;
    margin-top: 10px;
    display: block;
    margin: 1 auto;


}

.b2{

  width: 190px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #313131;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: -100px;
  
}

.b2:hover{

  width: 190px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #ebebeb;
  color: rgb(31, 31, 31);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  cursor: pointer;
  

}

.welcom1{

     color: rgb(31, 31, 31);
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 30px;
     text-align: right;

}

.div4{

    position: absolute;
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, .1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, .2);
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-right: 2px solid rgba(255, 255, 255, .2);
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    right: 50px;


}

.email{

   border-radius: 20px;
   width: 200px;
   float: block;


}

.inu{

   color: #313131;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin-left: 50px;
}



label{

    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    
}

.send{

  width: 130px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #313131;
  color: #ebebeb;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 50px;
  float: block;
  margin-left: 250px;
  
}

.send:hover{

  width: 130px;
  height: 50px;
  border-radius: 10%;
  border: none;
  background-color: #ebebeb;
  color: rgb(31, 31, 31);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;

}

.thk{

   color: #313131;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;


}